:root {
    --toastify-color-info: #2f9e44;
    --toastify-color-success: #2f9e44;
    --toastify-color-warning: #f1c40f;
}

@import "tailwindcss";

@theme {
    --color-brand-color-primary: #2f9e44;
    --color-brand-color-secondary: #ffd43b;
    --color-brand-color-third: #428f6b;
    --color-brand-color-fourth: #bdfd50;
    --color-brand-color-foreground: #b2f2bb;
}



#all {
    margin: 0;
    padding: 0;
    min-height: 100vh !important;
    overflow-x:hidden;
}


#body {
    min-height: 100vh !important;
    overflow-x:hidden;
}

a {
    text-decoration: none;
    color: inherit;
  }
  