@import "tailwindcss";

@theme {
    --color-brand-color-primary: #2f9e44;
    --color-brand-color-secondary: #ffd43b;
    --color-brand-color-third: #428f6b;
    --color-brand-color-fourth: #bdfd50;
    --color-brand-color-foreground: #b2f2bb;
}
